/* 
    Document   : page_professeur_style
    Created on : 31 janv. 2015, 18:19:51
    Author     : abdelmajid
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.nav_prof{
    display: block;
    position: fixed;
    width: 99%;
    height:7%;
    padding: 0%;
    margin: 0%;
    top:0%;
    left:0.5%;
    /*background-color: orange;*/
    border-radius: 8px;
    -webkit-border-radius: 8px;
}
.nav_prof input{
    display: inline-block;
    padding: 0%;
    margin: 0%;
    margin-left:0.2%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    width:32.6%;
    height:98%;
    font-size: 1em;
    font-family: "Tw Cen MT";
    font-weight: bold;
    border-radius: 4px;
    -webkit-border-radius: 4px; 
    background-color: #000025;
    border: outset 2px #000025;
    cursor: pointer;
    color:#c7f4e6;
}
.nav_prof input:hover{
    background-color: #009999;
    border:2px white dashed;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-radius: 7px;
    -webkit-border-radius: 7px; 
}
.div_prof{
    display: block;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 90%;
    margin-top: 5%;
    margin-bottom: 1%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    /*background-color: yellow;*/
}
.div_1_prof{
    display: block;
    margin: 0%;
    padding: 1%;
    width:98%;
    height:70%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #000033; 
}
.div_1_prof .inf_prof{
    display: inline-block;
    margin: 0%;
    padding: 0%;
    width:65%;
    height:98%;
    margin-top: 0.2%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    vertical-align: top;
    /* background-color: #9966ff;*/
}
.div_1_prof .inf_prof em{
    display: inline-block;
    margin: 0%;
    padding: 0%;
    width:29%;
    padding-left: 1%;
    margin-left: 1%;
    margin-bottom: 0.5%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #006666;
    color: white;
}
.div_1_prof .inf_prof strong{
    display: inline-block;
    margin: 0%;
    padding: 0%;
    width:65%;
    padding-left: 1%;
    margin-left: 1%;
    margin-bottom: 0.5%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #c7f4e6;
    color: #000025;
}
.div_1_prof .img_prof{
    display: inline-block;
    margin: 0%;
    padding: 0%;
    width:27%;
    height:95%;
    margin-top: 0.2%;
    margin-left: 1%;
    margin-bottom: 0.3%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    vertical-align: top;
    margin-right: 2%;
    float: right;
    /*background-color: #9966ff; */
}
.div_1_prof .img_prof img{
    display: inline-block;
    margin: 0%;
    padding: 0%;
    /*width:60%;
    height: 60%;*/
    width:170px;
    height:170px;
    box-shadow: 1px 1px 2px 2px black;
    -webkit-box-shadow: 1px 1px 2px 2px black;
}
.div_2_prof{
    display: block;
    margin: 0%;
    padding: 1%;
    margin-bottom: 0.2%;
    margin-top: 0.5%;
    width:98%;
    height:28%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #000033; 

}
.div_2_prof em{
    display: inline-block;
    margin: 0%;
    padding: 0%;
    padding-left: 0.5%;
    margin-left: 0.5%;
    width:19%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #006666;
    color: white;
}
.div_2_prof strong{
    display: inline-block;
    margin: 0%;
    padding: 0%;
    padding-left: 1%;
    margin-left: 1%;
    margin-right: 30%;
    margin-bottom: 0.3%;
    width:42%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #c7f4e6;
    color: #000025;
}
.div_prof .btn input{
    display: inline-block;
    width:30%;
    margin-left: 10%;
    margin-top: 1%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    cursor: pointer;
    border:2px solid white;
    font-weight: bold;
}
#supp_prof{
    background-color: #ff0066;
}
#modif_prof{
    background-color: #00cc33;
}
#supp_prof:hover,#modif_prof:hover{
    background-color: #0099cc;
    border: 2px dashed white;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}
/*style modules professeurs*/
.modules_prof{
    padding: 0%;
    margin: 0%;
    padding: 1%;
    margin-bottom: 1%;
    width:50%;
    height:10%;
    background-color: #00173f;
    color: #e1e4eb;
    font-weight: bold;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    cursor: pointer;
}
/*style pour les fonctions du prof*/
#chef_p,#cor_p,#mes_p{
    margin: 0%;
    padding: 1%;
    margin-bottom: 1%;
    width:50%;
    height:10%;
    font-weight: bold;
    color: white;
    border:none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: 1px 1px 2px 2px black;
    -webkit-box-shadow: 1px 1px 2px 2px black;
}
#chef_p{
    background-color: #00173f;
}
#cor_p{
    background-color: #006666;
}
#mes_p{
    background-color: yellow; 
    color: brown;
}
/*style pour modifier un professeur filiere+fcts*/
#div_prof label{
    display: inline-block;
    margin: 0%;
    padding:1%;
    margin-right: 1%;
    vertical-align: top;
    width: 50%;
    height:90%;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    border: none;
    box-shadow: 1px 1px 2px 1px black;
    -webkit-box-shadow: 1px 1px 2px 1px black;
    background-color: #0a0240;
    color: white;
    font-weight: bold;
}
#div_prof #filp_prof{
    display: inline-block;
    margin: 0%;
    padding:1%;
    height:90%;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    border: none;
    box-shadow: 1px 1px 2px 1px black;
    -webkit-box-shadow: 1px 1px 2px 1px black;
    background-color: #0a0240;
    color: white;
    font-weight: bold;
}
#div_prof #modif_anul_p input{
    display: inline-block;
    margin: 0%;
    padding:1%;
    width:31%;
    height:90%;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    border:2px #237b40 outset;
    font-weight: bold;
    cursor: pointer;
    background-color: #237b40;
}
#div_prof #modif_anul_p input:hover{
    background-color: #0099cc;
    border:2px dashed white; 
    border-radius: 15px;
    -webkit-border-radius: 15px;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}